/* 
    http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,ol,ul,li,form,label,legend,caption,article,aside,details,embed,figure,figcaption,footer,header,menu,nav,section,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
/* end CSS Reset */

body {
    box-sizing: border-box;
    line-height: 1.15;
}
ol, ul {
	list-style: none;
}

.bg-yellow{
    background-color: yellow;
}
.bg-white{
    background-color: white;
}
.bg-black{
    background-color: black;
}
.bg-image-unfundablePattern{
    background-image: url("../images/unfundablePattern.svg");
}
.color-white{
    color: white;
}
.flex-basis-10em{
    flex-basis: 25em;
}
.flex-container{
    display: flex;
}
.flex-direction-row{
    flex-direction: row;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-grow-1{
    flex-grow: 1;
}
.flex-grow-2{
    flex-grow: 2;
}
.justify-content-center{
    justify-content: center;
}
.max-width-25em{
    max-width: 25em;
}
.max-width-40em{
    max-width: 40em;
}
.padding-1em-2em{
    padding: 1em 2em;
}
.padding-2em{
    padding: 2em;
}

.width-100pc{
    width: 100%;
}

@media (max-width: 576px) {
    .width-xs-2{
        width:16.66%
    }
    .width-xs-3{
        width:25%;
    }
    .width-xs-4{
        width:33.33%;
    }
    .width-xs-6{
        width:50%;
    }
    .width-xs-8{
        width:66.66%;
    }
    .width-xs-9{
        width:74%;
    }
    .width-xs-12{
        width:100%;
    }
}

@media (min-width: 576px) {
    .width-sm-2{
        width:16.66%
    }
    .width-sm-3{
        width:25%;
    }
    .width-sm-4{
        width:33.33%;
    }
    .width-sm-6{
        width:50%;
    }
    .width-sm-8{
        width:66.66%;
    }
    .width-sm-9{
        width:74%;
    }
    .width-sm-12{
        width:100%;
    }
}

@media (min-width: 768px) {
    .width-md-2{
        width:16.66%
    }
    .width-md-3{
        width:25%;
    }
    .width-md-4{
        width:33.33%;
    }
    .width-md-6{
        width:50%;
    }
    .width-md-8{
        width:66.66%;
    }
    .width-md-9{
        width:74%;
    }
    .width-md-12{
        width:100%;
    }
}

@media (min-width: 992px) {
    .width-lg-2{
        width:16.66%
    }
    .width-lg-3{
        width:25%;
    }
    .width-lg-4{
        width:33.33%;
    }
    .width-lg-6{
        width:50%;
    }
    .width-lg-8{
        width:66.66%;
    }
    .width-lg-9{
        width:74%;
    }
    .width-lg-12{
        width:100%;
    }
}

@media (min-width: 1200px) {
    .width-xl-2{
        width:16.66%
    }
    .width-xl-3{
        width:25%;
    }
    .width-xl-4{
        width:33.33%;
    }
    .width-xl-6{
        width:50%;
    }
    .width-xl-8{
        width:66.66%;
    }
    .width-xl-9{
        width:74%;
    }
    .width-xl-12{
        width:100%;
    }
}